﻿<div ng-app="app">
    <div class="wrapper">
        <header class="main-header">
            <a href="index2.html" class="logo">
                <span class="logo-mini"><b>A</b>LT</span>
                <span class="logo-lg"><small><i class="fa fa-fw fa-users"></i></small> <b>SSL</b></span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="header">NAVEGAÇÃO</li>
                    <li class="treeview">
                        <a>
                            <i class="fa fa-circle-o"></i>
                            <span>Menu</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/#/Home"><i class="fa fa-map-o"></i>Home</a></li>
                            <li><a href="/#/About"><i class="fa fa-book"></i>About</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="box box-danger box-solid">
                        <div class="box-header">
                            <h3 class="box-title">Loading...</h3>
                        </div>
                        <div class="box-body">
                            The content is being rendered.
                        </div>
                        <div class="overlay">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <ng-view>

            </ng-view>
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2017 <a href="http://fcarvalho.org">Fábio Carvalho</a>.</strong> All rights
            reserved.
        </footer>

    </div>
</div>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC-nZT9DJSIqpGQ-jkzeLQXKlmJhjUVPgQ&sensor=false"></script>
<script>
    function ShowOverlay() {
        $('.modal').modal('show');
    }
    function HideOverlay() {
        $('.modal').modal('hide');
    }
</script>